In [1]:
import pandas as pd

In [34]:
names=["ip", "1", "2", "3", "4", "url", "status", "size", "5", "6", "7"]
df = pd.read_csv("access.log", sep=" ", usecols= range(11), low_memory=False, header=None, names=names)
df = df.iloc[:,[0,5,6,7,8,9,10]]

In [ ]:
total_queries = df.shape[0]
total_queries

In [ ]:
df_methods_1 = df.copy()
df_methods_1["method"] = df_methods_1.apply (lambda row: row["url"].split()[0], axis=1)
df_methods_2 = pd.DataFrame(df_methods_1["method"])
df_methods_2["cnt"] = 0
df_meths = df_methods_2.groupby(by=["method"], as_index=False).count()
df_m_normal = df_meths.loc[(df_meths["method"].astype('str').str.len() < 10)]
df_m_normal

In [ ]:
df_m_unnormal = df_meths.loc[(df_meths["method"].astype('str').str.len() >= 10)]
df_m_unnormal

In [33]:
df_urls = pd.DataFrame(df.iloc[:,1])
df_urls["cnt"] = 0
df_urls2 = df_urls.copy()
df_urls2["url_without_params"] = df_urls.apply (lambda row: row["url"].split()[1], axis=1)
del df_urls2["url"]
df_urls_g = df_urls2.groupby(by=["url_without_params"], as_index=False).count()
df_top_10 = df_urls_g.sort_values("cnt", ascending=False).head(10)
df_top_10
# df_urls

                                     url_without_params     cnt
443                            /administrator/index.php  103932
578                              /apache-log/access.log   26336
0                                                     /    6940
3871                 /templates/_system/css/general.css    4980
3790                                        /robots.txt    3199
4424  http://almhuette-raith.at/administrator/index.php    2356
1393                                       /favicon.ico    2201
4352                                      /wp-login.php    1644
268                                     /administrator/    1563
3971               /templates/jp_hotel/css/template.css    1287

In [21]:
df_4xx = df.query("status >= 400 and status < 500").iloc[:,0:4].sort_values("size", ascending=False).head(5)
df_4xx

,ip,url,status,size
22924,164.132.159.94,GET /index.php%3Foption%3Dcom_content%26view%3...,404,442
22925,164.132.159.94,GET /index.php%3Foption%3Dcom_content%26view%3...,404,442
22878,164.132.159.94,GET /index.php%3Foption%3Dcom_content%26view%3...,404,442
22877,164.132.159.94,GET /index.php%3Foption%3Dcom_content%26view%3...,404,442
22927,164.132.159.94,GET /index.php%3Foption%3Dcom_content%26view%3...,404,437

In [22]:
df_5xx = df.query("status >= 500 and status < 600").iloc[:,[0]]
df_5xx["cnt"] = 0
df_5xx_ans = df_5xx.groupby(by=["ip"], as_index=False).count().sort_values("cnt", ascending=False).head(5)
df_5xx_ans

               ip  cnt
6   189.217.45.73  225
26  82.193.127.15    4
30  91.210.145.36    3
9   198.38.94.207    2
7    194.87.237.6    2