In [2]:
import pandas as pd

In [27]:
import pandas as pd

df = pd.DataFrame()
i = 0
with open("access.log") as inf:
     for line in inf:
            tokens = line.split()
            df_buf = pd.DataFrame([tokens])
            df = df.append(df_buf, ignore_index=True)
            i +=1
#             print(df_buf)
            if i>1000:
                break
print(df)

                  0  1  2                      3       4      5   \
0     134.249.53.185  -  -  [27/May/2016:03:32:09  +0200]  "POST
1     134.249.53.185  -  -  [27/May/2016:03:32:09  +0200]   "GET
2     134.249.53.185  -  -  [27/May/2016:03:32:13  +0200]   "GET
3     134.249.53.185  -  -  [27/May/2016:03:32:13  +0200]  "POST
4     134.249.53.185  -  -  [27/May/2016:03:32:14  +0200]   "GET
...              ... .. ..                    ...     ...    ...
996   134.249.53.185  -  -  [27/May/2016:03:59:16  +0200]   "GET
997   134.249.53.185  -  -  [27/May/2016:03:59:16  +0200]  "POST
998   134.249.53.185  -  -  [27/May/2016:03:59:17  +0200]   "GET
999   134.249.53.185  -  -  [27/May/2016:03:59:24  +0200]   "GET
1000  134.249.53.185  -  -  [27/May/2016:03:59:24  +0200]  "POST

                                                     6          7    8     9   \
0     http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4498
1     http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4267
2     http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4238
3     http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4498
4     http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4267
...                                                 ...        ...  ...   ...
996   http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4238
997   http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4498
998   http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4267
999   http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4238
1000  http://almhuette-raith.at/administrator/index.php  HTTP/1.1"  200  4498

      ...   22   23   24   25   26   27   28   29   30   31
0     ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1     ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2     ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3     ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4     ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
996   ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
997   ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
998   ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
999   ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1000  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1001 rows x 32 columns]

In [26]:
df.iloc[:,0:12]

,0,1,2,3,4,5,6,7,8,9,10,11
0,134.249.53.185,-,-,[27/May/2016:03:32:09,+0200],"""POST",http://almhuette-raith.at/administrator/index.php,"HTTP/1.1""",200,4498,"""-""","""-"""
1,134.249.53.185,-,-,[27/May/2016:03:32:09,+0200],"""GET",http://almhuette-raith.at/administrator/index.php,"HTTP/1.1""",200,4267,"""-""","""-"""
2,134.249.53.185,-,-,[27/May/2016:03:32:13,+0200],"""GET",http://almhuette-raith.at/administrator/index.php,"HTTP/1.1""",200,4238,"""-""","""-"""
3,134.249.53.185,-,-,[27/May/2016:03:32:13,+0200],"""POST",http://almhuette-raith.at/administrator/index.php,"HTTP/1.1""",200,4498,"""-""","""-"""
4,134.249.53.185,-,-,[27/May/2016:03:32:14,+0200],"""GET",http://almhuette-raith.at/administrator/index.php,"HTTP/1.1""",200,4267,"""-""","""-"""
...,...,...,...,...,...,...,...,...,...,...,...,...
9996,200.148.166.42,-,-,[16/Jun/2016:14:33:28,+0200],"""POST",/administrator/index.php,"HTTP/1.1""",200,4263,"""http://almhuette-raith.at/administrator/index...","""Mozilla/5.0"
9997,78.186.191.187,-,-,[16/Jun/2016:14:33:29,+0200],"""POST",/administrator/index.php,"HTTP/1.1""",200,4263,"""http://almhuette-raith.at/administrator/index...","""Mozilla/5.0"
9998,78.186.191.187,-,-,[16/Jun/2016:14:33:29,+0200],"""POST",/administrator/index.php,"HTTP/1.1""",200,4494,"""http://almhuette-raith.at/administrator/index...","""Mozilla/5.0"
9999,200.148.166.42,-,-,[16/Jun/2016:14:33:30,+0200],"""POST",/administrator/index.php,"HTTP/1.1""",200,4494,"""http://almhuette-raith.at/administrator/index...","""Mozilla/5.0"
10000,200.148.166.42,-,-,[16/Jun/2016:14:33:30,+0200],"""POST",/administrator/index.php,"HTTP/1.1""",200,4263,"""http://almhuette-raith.at/administrator/index...","""Mozilla/5.0"

In [23]:
names=["ip", "1", "2", "3", "4", "url", "status", "size", "5", "6", "7"]
df3 = pd.read_csv("access.log", sep=" ", usecols= range(11), low_memory=False, header=None, names=names)

In [25]:
df3

,ip,1,2,3,4,url,status,size,5,6,7
0,134.249.53.185,-,-,[27/May/2016:03:32:09,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-
1,134.249.53.185,-,-,[27/May/2016:03:32:09,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-
2,134.249.53.185,-,-,[27/May/2016:03:32:13,+0200],GET http://almhuette-raith.at/administrator/in...,200,4238,-,-,-
3,134.249.53.185,-,-,[27/May/2016:03:32:13,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-
4,134.249.53.185,-,-,[27/May/2016:03:32:14,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...
225128,149.56.83.40,-,-,[08/Feb/2017:10:35:05,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225129,149.56.83.40,-,-,[08/Feb/2017:10:35:06,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225130,149.56.83.40,-,-,[08/Feb/2017:10:35:07,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225131,149.56.83.40,-,-,[08/Feb/2017:10:35:07,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225132,149.56.83.40,-,-,[08/Feb/2017:10:35:08,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-

In [36]:
df4 = pd.concat([df3.iloc[:,0],df3.iloc[:,4:]], axis=1)
df4

,ip,4,url,status,size,5,6,7
0,134.249.53.185,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-
1,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-
2,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4238,-,-,-
3,134.249.53.185,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-
4,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-
...,...,...,...,...,...,...,...,...
225128,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225129,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225130,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225131,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225132,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-

In [40]:
df4.shape[0]

225133

In [70]:
df_urls = pd.DataFrame(df4.iloc[:,2])
df_urls

                                                      url
0       POST http://almhuette-raith.at/administrator/i...
1       GET http://almhuette-raith.at/administrator/in...
2       GET http://almhuette-raith.at/administrator/in...
3       POST http://almhuette-raith.at/administrator/i...
4       GET http://almhuette-raith.at/administrator/in...
...                                                   ...
225128             POST /administrator/index.php HTTP/1.1
225129             POST /administrator/index.php HTTP/1.1
225130             POST /administrator/index.php HTTP/1.1
225131             POST /administrator/index.php HTTP/1.1
225132             POST /administrator/index.php HTTP/1.1

[225133 rows x 1 columns]

In [98]:
df_urls["cnt"] = 0
df_urls_g = pd.DataFrame(df_urls.groupby(by=["url"]).count())
df_urls_g.sort_values("cnt", ascending=False).head(10)
# df_urls_g.head(10)

                                                      cnt
url
POST /administrator/index.php HTTP/1.1              99125
GET /apache-log/access.log HTTP/1.0                 22043
GET / HTTP/1.1                                       6626
GET /templates/_system/css/general.css HTTP/1.1      4971
GET /administrator/index.php HTTP/1.1                4724
GET /apache-log/access.log HTTP/1.1                  3965
GET /robots.txt HTTP/1.1                             2968
GET /favicon.ico HTTP/1.1                            2190
GET http://almhuette-raith.at/administrator/ind...   1556
GET /wp-login.php HTTP/1.1                           1546

In [103]:
df5 = df4
# df5["method"] = df5["4"].split()[0]
df5["method"] = 0
df5["method"] = df5.apply (lambda row: row["url"].split()[0], axis=1)
df5

,ip,4,url,status,size,5,6,7,method
0,134.249.53.185,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-,POST
1,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-,GET
2,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4238,-,-,-,GET
3,134.249.53.185,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-,POST
4,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-,GET
...,...,...,...,...,...,...,...,...,...
225128,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST
225129,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST
225130,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST
225131,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST
225132,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST

In [107]:
df_methods = pd.DataFrame(df5["method"])
df_methods["cnt"] = 0
df_meths = pd.DataFrame(df_methods.groupby(by=["method"]).count())
df_meths

                                                       cnt
method
GET                                                 122095
HEAD                                                   528
POST                                                102503
PUT                                                      6
g369g=%40eval%01%28base64_decode%28%24_POST%5Bz...       1